.list {
  display: flex;
  gap: 10px;
  align-items: center;
}
.list li {
  list-style: none;
  font-size: 2rem;
}
.done {
  font-style: Lucida Handwriting;
  text-decoration: line-through;
  color: brown;
}

ion-icon {
  font-size: 25px;
}
.deleteButton {
  width: 5rem;
  font-family: Lucida Handwriting;
  background-color: inherit;
  border: none;
  cursor: pointer;
  padding: 0.6rem 0.3rem;
  font-weight: 600;
}
.deleteButton:hover {
  background-color: coral;
}
.checkbox {
  width: 1.5rem;
  height: 1.5rem;
}
