.App {
  width: auto;
  text-align: center;
  min-height: max-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  font-style: Lucida Handwriting;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-link {
  color: #61dafb;
}

.todo__input {
  margin-top: 2rem;
  min-width: 25rem;
  min-height: 2rem;
}
